body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 11pt;
    background-color: #f0f0f0;
    color: #333; 
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form__wrapper {
    width: 300px;
    margin: 10px auto;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 11pt;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    min-width: 100px;
}

.row > ul {
    list-style-type: circle;
}

.form__line {
    padding: 8px;
}

    .form__line > label {
        padding: 8px 16px 8px 0;
        justify-content: center;
    }

    .form__line > input {
        font-family: Arial, Verdana, sans-serif;
        font-size: 11pt;
        justify-content: center;
        border-style: groove;
        border-width: 4px;
        background-color: #f0f0f0;
        color: #333;
        flex: 1;
        padding: 8px;
    }

.form__row > button {
    font-family: Arial, Verdana, sans-serif;
    background: #f0f0f0;
    color: #333;
    border: 6px;
    padding: 11pt;
}


.button {
    font-family: Arial, Verdana, sans-serif;
    background-color: #f0f0f0;
    border: ridge;
    color: #333;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.form__line {
    justify-content: center;
    display: flex;
}

.about {
    justify-content: left;
    display: flex;
}

    .about > label {
        justify-content: left;
        display: flex;
        max-width: 250px;
    }
    .about > ul {
        list-style-type: circle;
    }
    .about > ol {
        list-style-type: decimal;
    }


.col-md-4 > ul {
    list-style-type: circle;
}

.form-line > label {
    font-family: Arial, Verdana, sans-serif;
    justify-content: center;
    font-size: 11pt; /* Ðàçìåð îñíîâíîãî øðèôòà â ïóíêòàõ  */
    background-color: #f0f0f0; /* Öâåò ôîíà âåá-ñòðàíèöû */
    color: #333;
    flex: 1;
}

.form-line > input {
    font-family: Arial, Verdana, sans-serif;
    justify-content: center;
    font-size: 11pt; /* Ðàçìåð îñíîâíîãî øðèôòà â ïóíêòàõ  */
    background-color: #f0f0f0; /* Öâåò ôîíà âåá-ñòðàíèöû */
    color: #333;
    flex: 1;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



h1 {
    color: #a52a2a; /* Öâåò çàãîëîâêà */
    font-size: 24pt; /* Ðàçìåð øðèôòà â ïóíêòàõ */
    font-family: Georgia, Times, serif; /* Ñåìåéñòâî øðèôòîâ */
    font-weight: normal; /* Íîðìàëüíîå íà÷åðòàíèå òåêñòà  */
}
