body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form__wrapper {
    width: 300px;
    margin: 20px auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.form__line {
    padding: 8px;
}

.form__line > label {
        padding: 8px 16px 8px 0;
    }

.form__line > input {
        padding: 8px;
    }

.form__row > button {
    background: #808080;
    color: #fff;
    border: 5px;
    padding: 8px;
}

.form__line {
    display: flex;
    justify-content: center;
}

.form-line > label {
    flex: 1;
}

.form-line > input {
    flex: 2;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}