
% rebase('layout.html', title='Home Page', year=year)

<div class="jumbotron">
    <h1>About authors</h1>
    <h3>This page provides information about the contribution of authors to the project</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Kirov Maxim</h1>
        <a href="https://vk.com/bistenofficial"><img style="height: 350px; width: 250px;" src="static\img\Kirov.jpg" /></a>
        <p></p>
        <label class="form__label">
            I did:
        </label>
        <ul>
            <li class="about">
                <label class="form__label">
                    The monte-karlo.
                </label>
            </li>
            <li class="about">
                <label class="form__label">
                    Merge conflict resolution.
                </label>
            </li>
            <li class="about">
                <label class="form__label">
                    First I broke it then I fixed it.
                </label>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h1>Ksenofontov Sergey</h1>
        <a href="https://vk.com/newworldfool"><img style="height: 350px; width: 250px;" src="static\img\Ksenofontov.jpg" /></a>
        <p></p>
        <label class="form__label">
            I did:
        </label>
        <ul>
            <li class="about">
                <label class="form__label">
                    The three-chanel system with rejection page.
                </label>
            </li>
            <li class="about">
                <label class="form__label">
                    A page about authors.
                </label>
            </li>
            <li class="about">
                <label class="form__label">
                    worked with styles.
                </label>
            </li>
        </ul>

    </div>
    <div class="col-md-4">
        <h1>Mikhailov Daniil</h1>
        <a href="https://vk.com/daniil_mex"><img style="height: 350px; width: 250px;" src="static\img\Mikhailov.jpg" /></a>
        <p></p>
        <label class="form__label">
            I did:
        </label>
        <ol >
            <li class="about">
                <label class="form__label">
                    The four system with queue.
                </label>
            </li>
            <li class="about">
                <label class="form__label">
                    A home page.
                </label>
            </li>
        </ol>
    </div>
</div>
