
% rebase('layout.html', title='Home Page', year=year)

<div class="jumbotron">
    <h1>Monte-Carlo Method</h1>
    <h3 align="justify">
        The Monte Carlo method is a statistical modeling or simulation technique. 
        It is a numerical method for solving problems by simulating random variables.
        Any probabilistic problem can be solved using the Monte Carlo method, but it is justified when the drawing procedure is simpler, and not more complicated than analytical calculation.
    </h3>
    <h3 align="justify">
        <br />
        Our team solved three typical problems using the Monte Carlo method: Evaluation of the reliability of the simplest systems, Calculation of QS with failures, Calculation of QS without failures.
        Below are the buttons where you can solve similar problems with the help of our website
    </h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Kirov Maxim</h1>
        <a href="https://vk.com/bistenofficial"><img style="height: 350px; width: 250px;" src="static\img\Kirov.jpg" /></a>
        <p></p>
        <p><a href='Monte_Karlo'><input type="submit" value="Monte Karlo" /></a></p>
    </div>
    <div class="col-md-4">
        <h1>Ksenofontov Sergey</h1>
        <a href="https://vk.com/newworldfool"><img style="height: 350px; width: 250px;" src="static\img\Ksenofontov.jpg" /></a>
        <p></p>
        <p><a href='three-chanel_system_with_rejection'><input type="submit" value="Three chanel system with rejection" /></a></p>
    </div>
    <div class="col-md-4">
        <h1>Mikhailov Daniil</h1>
        <a href="https://vk.com/daniil_mex"><img style="height: 350px; width: 250px;" src="static\img\Mikhailov.jpg" /></a>
        <p></p>
        <p><a href='Monte_Karlo_NEGR'><input type="submit" value="Four-channel queuing system with limited queue" /></a></p>
    </div>
</div>
