% rebase('layout.tpl', title=title, year=year)

    <meta charset="utf-8">
    <style>
        body {
            background: #000000;
            color: #FFFFFF;
        }
    </style>
        <h2>Four-channel queuing system with limited queue</h2>
        <h3></h3>
        <form action="/home" method="post">
            <!--  -->
            <p><input type="text" size="50" name="DSR" placeholder="Duration of service of the request"></p>
            <p><input type="text" size="50" name="WH" placeholder="Working minutes"></p>
            <p><input type="text" size="50" name="Alpha" placeholder="Alpha"></p>
            <p><input type="submit" value="Entry" class="btn btn-default" .></p>
        </form>
