
% rebase('layout.html', title='Home Page', year='2021')

    <form action="/home" method="post">
        <p><input rows="1" cols="20" name="PA" placeholder="P(A)="></p>
        <p><input rows="1" cols="20" name="PB" placeholder="P(B)="></p>
        <p><input rows="1" cols="20" name="PC" placeholder="P(C)="></p>
        <p><input rows="1" cols="20" name="PD" placeholder="P(D)="></p>
        <p><input rows="1" cols="20" name="PE" placeholder="P(E)="></p>
        <p><input type="submit" value="Send" class="btn btn-default"> </p>
    </form>